<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <runtime>
        <!--AppDomain.CurrentDomain.UnhandledException 避免程序因异常崩溃-->
        <!--https://blog.walterlv.com/post/prevent-app-crash-by-background-thread.html-->
        <legacyUnhandledExceptionPolicy enabled="1"/>
    </runtime>
</configuration>
